<div class="well text-center">
  <h4>List of available parking space. select and book any parking</h4>
</div>
<table class="table table-striped tag-center">
  <tr>
    <th>Area No.</th>
    <th>Cost per hour</th>
    <th>Book</th>
  </tr>
  <% @parking_spaces.each do |parking_space| %>
    <tr>
      <td><%= parking_space.area_no %></td>
      <td><%= parking_space.cost_per_hour %></td>
      <td><%= link_to 'Book', parking_space_path(parking_space), :class => 'btn btn-warning btn-sm'  %></td>
    </tr>
  <% end %>
</table>