<table class="table">
  <tr>
    <th>Area No.</th>
    <th>Cost per hour</th>
    <th>Book</th>
    <!-- <th>Start Time</th>
    <th>End Time</th>
    <th>Book</th>    --> 
  </tr>
  <% @parking_spaces.each do |parking_space| %>
    <tr>
      <td><%= parking_space.area_no %></td>
      <td><%= parking_space.cost_per_hour %></td>
      <td><%= link_to 'Book', parking_space_path(parking_space), :class => 'btn btn-warning btn-sm'  %></td>
    </tr>
  <% end %>
  <%# @parking_spaces.each do |parking_space| %>
    <%#= form_for([current_user, current_user.bookings.build]) do |f| %>
      <!-- <tr>
        <td><%#= parking_space.area_no %></td>
        <td><%#= parking_space.cost_per_hour %></td>
        <%#= f.hidden_field :parking_space_id, :value => parking_space.id %>
        <td><%#= f.time_select :start_time, discard_minute: true %></td>
        <td><%#= f.time_select :end_time, discard_minute: true %></td>
        <td><%#= f.submit %></td>
      </tr> -->
    <%# end %>
  <%# end %>
</table>