<h1 class="well text-center">Welcome in ParkPnp</h1>
<div class="text-center">
  <%= link_to 'Parking Space', parking_spaces_path(current_user), class: 'btn btn-primary' %>
  <%= link_to 'Request', user_requests_path(current_user), class: 'btn btn-success' %>
  <%= link_to 'Booking', user_bookings_path(current_user), class: 'btn btn-warning'  %>
</div>

