<h1 class="well text-center">Welcome in ParkPnp</h1>
<div class="text-center">
  <%= link_to 'Parking Space', parking_spaces_path(current_user), class: 'btn btn-primary' %>
  <%= link_to 'Request', user_requests_path(current_user), class: 'btn btn-success' %>
  <%# if @user.role == false %>
    <%= link_to 'Booking', user_bookings_path(current_user), class: 'btn btn-warning'  %>
  <%# end %>
</div><br />
<div class="row">
  <ul class="list-group">
    <li class="list-group-item">Parking Space - List of all available Parking spaces.</li>
    <li class="list-group-item">Request - List of all Requested for parking spaces.</li>
    <% if @user.role == false %>
      <li class="list-group-item">Booking - List of booked parking space.</li>
    <% end %>
  </ul>
</div>

