<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class = "center-block">
      <%= yield %>
    </div>
  </body>
</html>
<style type="text/css">  
    .center-block {  
    width:40%;  
    margin-top: 15%;
    text-align: center;
    }  
</style>  